/*Boas praticas:
> Explicitar a função dos botoes no html
> Criar estruturas de Wrapper (Container / Embrulho) do conteudo / seção.
> Crie um base referencial visual para auxiliar a codifição do projeto.
> Defina a Estrutura da pagina html e uma primeira visão de formatação;
    * Numa segunda fase - de refatoração - incremente com fontes e itens personalizadas.
> Uso de Variaveis - Declaradas em pseudo-classe ':root'
    * Essa pratica é sugerida para casos de identidade visual predefinidas. (cores, imagens, etc...)
> Uso de ResetFormat - "Criando um PONTO-ZERO" - Com o uso do seletor '*' e aplicando formatação 'zerado' para as propriedades.
> Uso do Normalize.css - Com o uso de um arquivo css com as formatações da comunidade normalize.css do github.
*/


/*<<<<<<<<<<<<<<<<<<<<<<    Declaração de Variaveis >>>>>>>>>>>>>>>>>>>*/
:root {
    --vermelha: #E50914;
    --preta: #141414;
}


/* <<<<<<<<<<<<<<<<<<<<<<<<<<<   ResetFormat / StandardFormat >>>>>>>>>>>>>>>>>>>>>>>>>*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: var(--preta);
    color: white; /*FORMATAÇÃO MOMENTEA*/
}



/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<  Navegação   >>>>>>>>>>>>>>>>>>>>>>>>*/

header {
    width: 100%;

}

header .container {
    display: flex;
    flex-direction: row;
    /* Essas duas propriedades abaixo são aptas para formatação de flexbox*/
    align-items: center; /*O align-items realiza o alinhamento Vertical*/
    justify-content: space-between;  /*O justify-content realiza o alinhamento horizontal*/
}

header .logo {
    color: var(--vermelha);
    font-family: 'Arial Black', Times, serif;
    font-size: 40px;
}


header nav a {
    color: #aaa;
    margin-right: 10px;
    align-items:flex-end;
}

header nav a:hover {
    color: #fff;
}

/* <<<<<<<<<<<<<<<<<<<< Area Principal (MAIN) >>>>>>>>>>>>>>>>>>>>>>>>>>> */

.main-movie{
    /* Responsividade e alinhamento*/
    display: flex;
    flex-direction: column;
    justify-content: center; /*ALinha o eixo x*/
    align-items: flex-start; /*Alinha o eixo y*/

    /*Formatação*/
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, .50), rgba(0,0,0,.5)100%), url('../img/capa-house.jpg');

    /*Altura e Dimensionamento*/
    height: 400px;
    background-size: cover;
}


.buttons-movie {
    margin-top: 2rem;
}


.title-movie {
    margin-top: 5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.buttons {
    font-family:'Trebuchet MS', Arial, sans-serif ;
    font-size: .6rem;
    text-transform: uppercase;

    cursor: pointer;
    transition: .3s ease all;


    background-color: rgba(0,0,0,.5);
    border: none;
    color: #fff;

    padding: .7rem;
    margin-right: 1rem;

}

.buttons:hover {
    background-color: rgb(255, 255, 255);
    color: #000
}

.main-movie .container{
    max-width: 20rem;
}

.container{
    margin-left: 1rem;
}

.carousel-box {
    margin-top: 1rem;
}

